
<table class="table table-horizontal table-bordered">

    <thead class="thead-strong">
        <tr>
            <th>Title</th>
        </tr>
    </thead>

    <tbody id="tbody">
        {{#each posts}}
            <tr>
                <td>{{title}}</td>
            </tr>
        {{/each}}
    </tbody>

</table>
