<html>

    <head>
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <a class="navbar-brand" href="">KW SINSA</a>

                <div class="navbar-nav ml-auto">

                    {{^sessioneduser}}
                        <a href="/writepost"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">게시글 작성</button></a>
                        <a href="/loginpage"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">로그인</button></a>
                        <a href="/users/form"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">회원가입</button></a>
                    {{/sessioneduser}}

                    {{#sessioneduser}}
                        <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">로그아웃</button></a>
                        <a href="/writepost"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">게시글 작성</button></a>
                    {{/sessioneduser}}

                </div>

            </div>
        </nav>

        <table class="table table-horizontal table-bordered">

            <thead>
                <tr>
                    <th>등록시간</th>
                    <th>제목</th>
                    <th>게시글 댓글수</th>
                </tr>
            </thead>
                
            <tbody id="tbody">
                {{#posts}}
                        <tr>
                            <td>{{createdDate}}</td>
                            <td><a href="/postdetail/{{id}}">{{title}}</a></td>
                            <td>{{comment_number}}</td>
                        </tr>
                {{/posts}}
            </tbody>

        </table>

        <!--bootstrap js,jquery 연동  -->
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>

    </body>

</html>




