<html>

<head>
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<br>
<br>

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <form autocomplete="off" action="/savepost" method="post">

                <p1 style="color:red">제목과 게시글내용을 둘다 입력해야지 등록가능합니다!</p1>

                <div class="form-group">
                    <label>제목</label>
                    <input type="text" class="form-control" name="title" placeholder="Title">
                </div>

                <div class="form-group">
                    <label>게시글</label>
                    <br>
                    <textarea name="content" rows="5" class="form-control" placeholder="여기에다가 작성해주세요!"></textarea>
                    
                </div>

                <button type="submit" class="btn btn-success clearfix pull-right">게시글 등록</button>

            </form>
        </div>
    </div>
</div>


</body>

</html>

