<html>

<head>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>

<body>

<br>
<br>

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <form autocomplete="off" action="/create" method="post">

                <p1 style="color:red">사용자아이디,비빌번호,비빌번호 확인,이름을 모두 입력하고 입력하신 비빌번호랑 확인 비빌번호가 일치해야 합니다</p1>


                <div class="form-group">
                    <label>사용자 아이디</label>
                    <input type="text" class="form-control" name="userId" placeholder="Userid" autocomplete="new-password">
                </div>

                <div class="form-group">
                    <label>비밀번호</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="new-password">
                </div>

                <div class="form-group">
                    <label>비밀번호 확인</label>
                    <input type="password" class="form-control" name="password2" placeholder="password check" autocomplete="new-password">
                </div>

                <div class="form-group">
                    <label>이름</label>
                    <input class="form-control" name="name" placeholder="Name" autocomplete="new-password">
                </div>

                <button type="submit" class="btn btn-success clearfix pull-right">회원가입</button>

            </form>
        </div>
    </div>
</div>

</body>

</html>

