<html>

<head>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <a class="navbar-brand" href="/">KW SINSA</a>

            <div class="navbar-nav ml-auto">
                <!--<button onclick="modal_popup()" class="btn btn-outline-success my-2 my-sm-0" type="submit">댓글 달기</button>-->
                <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#postcomment">댓글 달기</button>
                <a href="/loginpage"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">로그인</button></a>
                <a href="/users/form"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">회원가입</button></a>
            </div>

        </div>
    </nav>

    <!-- modal -->
    <div id="postcomment" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">알림</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>로그인하시고 댓글등록 부탁드립니다!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">확인</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-horizontal table-bordered">

        <thead>
            <tr>
                <th>게시글 내용</th>
            </tr>
        </thead>

        <tbody id="tbody">
            {{#post}}
                <tr>
                    <td>{{content}}</td>
                </tr>
            {{/post}}
        </tbody>

    </table>



    <h2>댓글</h2>
    
    <tbody id="tbody2">
            {{#comments}}
               <div>
                   {{content}}
                   <br>
                   ------------------------------------------------------------------------------------------------------------------------------------
               </div>
            {{/comments}}
    </tbody>


    <!--bootstrap js,jquery 연동  -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

</body>



</html>




